<div class="container" style="margin-top: 200px; margin-bottom: 100px;" id="feedback_page">

  <div class="head_line">
	<p>«Хроники» — это творческий проект компании <%= link_to "Euromed group", "http://euromed-group.ru/", :target => '_blank' %>.</p>
	<p>Главный редактор проекта — <%= mail_to "demmeda@gmail.com", "Дмитрий Журавлёв" %>.</p>
	<p>С предложениями обращайтесь к <%= mail_to "makarenko@euromed.ru", "Марии Макаренко" %>, а ещё мы будем рады вашим отзывам!<p>
  </div>

  <div id="new_feedback_area">
  <%= link_to "Подписка на открытки", "#", :class=> 'show_feedback_form subscribe', :id => 'subscribe_form' %>
  <%= link_to "Оставьте свой отзыв!", "#", :class=> 'show_feedback_form not_active', :id => 'feedback_form' %>
  
  <div class="wrap" id="subscribe_wrap" style="display: block">
  	<%= form_for @subscription, remote: true do |f| %>
  	<div style="float: left;">
  	<label for="subscription_name">Представьтесь, пожалуйста<span class="star">*</span></label>
  	<%= f.text_field :name %>
    <div class="buf" style="height:0px;"></div>
  	Укажите год вашего рождения
  	<%= f.select(:birth, Array(1900..Time.now.year).reverse) %>
    <div class="buf" style="height:20px;"></div>
  	<%= f.label :profession, "Ваша профессия или отрасль, в которой Вы работаете?" %>
  	<%= f.text_field(:profession, :class => 'profession_field') %>
    <div class="buf" style="height:0px;"></div>
  	Ваш индекс<span class="star">*</span>
  	<%= f.text_field(:index, :class => "index_field") %>
  	<span>Вы можете узнать свой индекс на сайте <a href="http://indexp.ru" target="_blank">indexp.ru</a></span>
  	<div class="buf" style="height:0px;"></div>
  	<label for="subscription_address">Представьтесь, пожалуйста<span class="star">*</span></label>
  	<%= f.text_area(:address, :class => "address_field") %>
  	<div class="address_comment">Ваши личные данные будут использованы исключительно для рассылки открыток по почте</div>
  	<div class="buf" style="height:0px;"></div>
  	Ваша электронная почта<span class="star">*</span></label>
  	<%= f.text_field(:email, :class => "email_field") %>
  	<div class="index_comment">Мы оповестим Вас по этому адресу о деталях</div>
  	
  	<label>Подтвердите, что Вы не робот<span class="star">*</span></label></label>
  	<%= recaptcha_tags %>
  	<div class="buf" style="height:20px;"></div>
    <div id="subscribe_errors"></div>
  	

  	<%= link_to "Отправить", "#", :class => 'red_button', :id => 'subscription_submit' %>
  	<% end %>
    </div>
  </div>
  
  <div class="wrap" id="feedback_wrap">
	<%= form_for @feedback, remote: true do |f| %>
	<div style="float: left; width: 530px;">
	<%= f.label :name, "Представьтесь, пожалуйста" %>
	<%= f.text_field :name %>
	<%= f.label :feedback, "Добавьте отзыв или предложение" %>
	<%= f.text_area :feedback %>
	<%= f.hidden_field :feedback_type, :value => 'like' %>
	<%= link_to "Можно отправлять", "#", :class => 'red_button', :id => 'feedback_submit' %>
	</div>
	<div style="float: left; margin-left: 150px; width: 220px;">
	<%= link_to "Мне нравится!", "#", :class => 'like_link like active', :id => 'like' %>
	<%= link_to "Не понравилось", "#", :class => 'like_link un_like', :id => 'unlike' %>
	</div>
	<% end %>
  </div>
  </div>

  <h1 style="color: #4c4c4c; margin-top: 60px;">Что о нас думают люди (<%= @feedbacks.count %> <%= Russian.p(@feedbacks.count, "отзыв", "отзыва", "отзывов") %>)</h1>

   <% @feedbacks.each do |feedback| %>
	<div class="feedback">
	<% if feedback.feedback_type == 'like' %>
	<%= image_tag('thumb_up.png')%>
	<% else %>
	<%= image_tag('thumb_down.png')%>
	<% end %>
	<div class="feedback_content">
	  <div class="feedback_heading">
	    <span class="name"><%= feedback.name %></span> | <%= feedback.created_at.strftime("%d.%m.%y") %>
	  </div>
	
	  <div class="feedback_text">
		<p><%= feedback.feedback %></p>
	  </div>
	  
	  <% if feedback.comment? %>
	  <div class="feedback_answer">
		<p style="color: #ff634d;">Наш ответ</p>
		<p><%= feedback.comment %></p>
	  </div>
	  <% end %>
    </div>
	</div>
	
   <% end %>



</div>

<div id="feedback_sent">Спасибо за ваш отзыв!</div>
<div id="subscribtion_created">Вы успешно подписались на рассылку!</div>
