<div class="container">
	
	<div class="row header-image">
    
	<div class="span12">
	    <%= image_tag @hronik.cover.url(:main) %>
	 </div>

      <div class="span4">
	    <%= link_to "Смотреть все хроники", hroniks_path, :class=> 'yellow_link' %>
	  </div>
	
	  <div class="span8" style="margin-top: 20px;">
		<%= link_to (Russian::strftime(@hronik.date, "%d %B") + " " + @hronik.title), hronik_path(@hronik), :class=> 'title_link' %>
		<p><%= @hronik.short %></p>
		<%= link_to "Смотреть", hronik_path(@hronik), :class=> 'small_link' %>
	  </div>
	
	  <div class="span12" style="margin-top: 20px;">
		<h3>Что у нас есть нового?</h3>
	  </div>
	
		<%= render @hroniks %>
	
	 	
	</div>
	
		
</div>