<div class="container">
	
	<div class="row">
	<div class="header-image">
	<div class="slider">
		
	
   	<%= link_to "fwd", "#", :class => 'fwd' %>
		<%= link_to image_tag('left_arrow.png'), "#", :class => 'bck' %>
	 <div class="slider2">

     <% @slider_hroniks.each do |hronik| %>
     <div class="slide">
	 	 <div class="slide_img">
		    <%= image_tag hronik.cover.url(:main) %>
		 </div>

	     <div class="span3" style="margin-left: 0px;">
		    <%= link_to "Смотреть все хроники", hroniks_path, :class=> 'yellow_link' %>
		 </div>
	
		 <div class="span8" style="margin-top: 20px; margin-left: 100px;">
			<%= link_to (Russian::strftime(hronik.date, "%d %B") + " " + hronik.title), hronik_path(hronik), :class=> 'title_link' %>
			<p><%= hronik.short %></p>
			<%= link_to "Смотреть", hronik_path(hronik), :class=> 'small_link' %>
		 </div>
	  </div>
	  <% end %>
	  </div>
	  </div>
	  </div>
	  <div class="span12" style="margin-top: 20px;">
		<h3>Что у нас есть нового?</h3>
	  </div>
	
		<%= render @hroniks %>
	
	 	
	
	</div>
		
</div>