<div class="container">
	
	<div class="row header-image">
    
	 <div id="slider">
     <% @slider_hroniks.each do |hronik| %>
     <div class="slide">
	 	 <div class="span12 slide_image">
		    <%= image_tag hronik.cover.url(:main) %>
			<%= image_tag('left_arrow.png', :id => 'left_arrow') %>
			<%= image_tag('left_arrow.png', :id => 'right_arrow') %>
		 </div>

	     <div class="span4">
		    <%= link_to "Смотреть все хроники", hroniks_path, :class=> 'yellow_link' %>
		 </div>
	
		 <div class="span8" style="margin-top: 20px;">
			<%= link_to (Russian::strftime(hronik.date, "%d %B") + " " + hronik.title), hronik_path(hronik), :class=> 'title_link' %>
			<p><%= hronik.short %></p>
			<%= link_to "Смотреть", hronik_path(hronik), :class=> 'small_link' %>
		 </div>
	  </div>
	  <% end %>
	  </div>
	
	  <div class="span12" style="margin-top: 20px;">
		<h3>Что у нас есть нового?</h3>
	  </div>
		<div id="hroniks">
		<%= render @hroniks %>
		</div>
	 	 <%= will_paginate @hroniks %>
	</div>
	
		
</div>