<%= semantic_form_for [:admin, @event], :html => {:multipart => true}	 do |f| %>

<div style="float: left; width: 600px;">
<h4>Оригинал:</h4>
<%= image_tag @event.image.url(:original), :id => "cropbox_event" %>
</div>

<div style="float: left; width: 600px; margin-left: 20px;">	
<h4>Обработанный вариант:</h4>
<div style="width:220px; height:220px; overflow:hidden;">
  <%= image_tag @event.image.url(:original), :id => "event_main" %>
</div>

<%= form_for @event do |f| %>
<% %w[x y w h].each do |attribute| %>
<%= f.hidden_field "crop_#{attribute}" %>
<% end %>
<fieldset class="actions">
<ol>
<li><%= f.submit "Обрезать" %></li>
</ol>
</fieldset>
<% end %>

</div>



<% end %>




