<div id="hroniks">
	  <div id="month">
		<div class="month-inner">
	    <%= link_to "предыдущий месяц", {date: @date.prev_month}, :class => 'prev_month', remote: true %>
	    <div class="current_month">
		<%= Russian::strftime(@date, "%B") %>
		<span style="color: #CCC;"><%= Russian::strftime(@date, "%Y") %></span>
		</div>
	    <%= link_to "следующий месяц", {date: @date.next_month}, :class => 'next_month', remote: true %>
		</div>
	  </div>
  <%= calendar @date do |date| %>
   
    <% if @events_by_date[date] %>
       <%= link_to date.day, calendar_path(:date => date) %>
	  <% else %>
	   <%= date.day %>
    <% end %>
  <% end %>
</div>