<div class="overlay"></div>
<div id="modal">
    
	<div class="modal-header">
		Предложить свой сюжет для «хроник»
		
		<%= link_to "Закрыть", "#", :class => 'close_modal' %>
	</div>
	
	<%= form_for @hronik, remote: true do |f| %>
	<div class="modal-content">
		
		<div class="date" id="date">
		  <div id="number"><%= Russian::strftime(Time.now, "%d") %></div>
		  <div id="month"><%= Russian::strftime(Time.now, "%d %B")[3..-1] %></div>
		</div>
		<div class="suggest-body">
			<%= hidden_field_tag :alt_date %>
			<%= f.hidden_field :date, :value => Time.now %>
			<%= f.text_area :short, :placeholder => "Краткое описание, максимум 70 символов", :class => 'comment' %>
			<%= f.text_field :title, :placeholder => "Заголовок", :class => 'suggest_title' %>
			<%= f.text_area :text, :placeholder => "Добавьте описание", :class => 'suggest_text' %>
			<%= image_tag('suggest-logo-down.png') %>
			<%= f.text_field :author, :placeholder => "и Ваше имя", :class => 'suggest_author' %>
		</div>
		
		<div class="suggest-side">
			<%= image_tag('suggest-logo-top.png') %>
			
			<div class="suggest_file">
			  Прикрепите изображение<br> (jpg, gif, png, не более 3 Мб)
			  <%= f.file_field :cover %>
			  <div id="file"><%= link_to "Выбрать файл", "#" %></div>
			</div>
		</div>
		
		<div id="suggest_errors"></div>
	</div>
	

	
	<% end %>
	
	<%= link_to "Поделиться открыткой с друзьями", "#", :class => 'red_button suggest', :id => 'suggest_share' %>
	<%= link_to "Отправить сюжет в редакцию", "#", :class => 'red_button suggest', :id => 'suggest_submit' %>
	
	


</div>

<div id="hronik_sent">Спасибо за ваш сюжет!</div>