<%= form_for(@hronik) do |f| %>
  <% if @hronik.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hronik.errors.count, "error") %> prohibited this hronik from being saved:</h2>

      <ul>
      <% @hronik.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :cover %><br />
    <%= f.text_field :cover %>
  </div>
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_area :text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
