<div class="container">
<div class="header">
<div class="row header_top_menu">
  <div class="header_title" id="header_link">
	<div class="date"><%= Time.now.strftime("%d.%m.%y") %></div>
  </div>
  <div class="header_menu">
    <ul>
	  <li><%= link_to "Хроники", hroniks_path %></li>
	  <li><%= link_to "Блог", articles_path %></li>
	  <li><%= link_to "Медицинские старости", "#" %></li>
	  <li><%= link_to "Медицинский календарь", "#" %></li>
	  <li><%= link_to "Обратная связь", "#" %></li>
  </div>
</div>
</div>
</div>